<ion-content class="content">
  <form  [formGroup]="form" class="content" (ngSubmit)="createAccount()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Welcome {{registerForm.name}}!</h3>
            <h3>Create your account!</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input formControlName="name" name="name" [(ngModel)]="registerForm.name"
                         type="text" placeholder="Name"
                         ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="email"  name="email" [(ngModel)]="registerForm.email" type="email"
                         placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="password" name="password" [(ngModel)]="registerForm.password" type="password"
                         placeholder="Password" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="confirmPassword" name="confirmPassword" [(ngModel)]="registerForm.confirmPassword"
                         type="password"
                         placeholder="Password again" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Languages</ion-label>
              <ion-select formControlName="languages" name="language" multiple="true"
                          cancelText="Cancel" okText="Accept" [(ngModel)]="registerForm.languages" required="true">
                <ion-select-option  *ngFor="let language of languages"
                                    [value]="language">{{language.name}}</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">
              Register
            </ion-button>
          </div>
          <div padding class="global-text-align-center">
            <a routerLink="/login" routerLinkActive="true">I have account, Sign In.</a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>