body, html {
    height: 100%;
    background-color: #d7d8da;
}

.login-buttons-box{
    text-align: center;

    .remember-me-box{
        display: flex;
        justify-content: center;

        p {
            margin: 0 0 10px 5px;
        }
    }

    .register-link {
        margin-top: 20px;
    }
}
