<ion-content class="content">
  <form #form="ngForm">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div>
            <h1 align="center">eDiction</h1>
            <h3 align="center">Welcome! Sign In</h3>
          </div>

          <ion-item>
            <ion-label>
              <ion-icon name="person"></ion-icon>
            </ion-label>
            <ion-input type="text" required [(ngModel)]="loginForm.username" placeholder="Email"
                       name="username" id="loginField"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-icon name="lock"></ion-icon>
            </ion-label>
            <ion-input required type="password" [(ngModel)]="loginForm.password"
                       placeholder="Password"
                       name="password" id="passwordField"></ion-input>
          </ion-item>
          <br>
          <div class="login-buttons-box">
            <div class="remember-me-box">
              <ion-checkbox color="primary"></ion-checkbox>
              <p> Remember me </p>
            </div>
            <div>
              <ion-button size="large" type="submit" (click)="login()" [disabled]="form.invalid"
                          expand="block">
                Sign In
              </ion-button>

            </div>
            <div class="register-link">
              <a routerLink="/registration-page" routerLinkActive="true">If you don't have account,
                register here.</a>
            </div>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>